.sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 350px;
  height: 100vh;
  background-color: var(--bg-color);
  border-left: 1px solid var(--border-color-secondary);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  padding: 40px 30px;
  z-index: 200; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.show_filter {
  right: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.block {
  flex: 1;
}

.selecter_wrap {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.close_btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}
