.sidebar {
  height: 100vh;
  width: 350px;
  border-left: 1px solid var(--border-color-secondary);
  background-color: var(--bg-color);
  position: absolute;
  top: 0;
  right: -350px; // скрыт
  transition: right 0.3s ease; // плавное появление
  padding: 40px 30px;
  z-index: 100;
  display: grid;
  grid-template-rows: 70px 1fr 1fr;
}

.show_filter {
    right: 0;
}

.title {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

.block {
  display: flex;
  flex-direction: column;
}

.selecter_wrap {
  margin-bottom: 20px;
}

.footer {
  margin-top: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}