.sidebar {
  position: fixed;
  top: 0;
  right: -400px; // скрыт за экраном
  width: 320px;
  height: 100vh;
  background-color: var(--bg-color);
  border-left: 1px solid var(--border-color-secondary);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  padding: 30px 20px;
  z-index: 1000; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.show_filter {
    right: 0; // плавно выезжает
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0); // изначально прозрачный
  z-index: 999;                  // ниже сайдбара
  pointer-events: none;          // не кликабелен пока скрыт
  transition: background 0.2s ease;

  &.show {
    background: rgba(0, 0, 0, 0.2); // затемнение при открытии
    pointer-events: all;           // теперь кликабелен
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.block {
  flex: 1;
}

.selecter_wrap {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.close_btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}
