.container {
  text-align: left;
  width: 100%;
}

.monthTitle {
  margin-bottom: 15px;
  font-size: 20px;
  margin-left: 6px;
}

.headerRow {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 12px;
}

.errorText {
  font-size: 20px;
  font-weight: 500;
}

.tableWrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  th,
  td {
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 4px 6px;
  }

  th {
    background-color: var(--bg-color-tertiary);
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  td {
    background-color: var(--bg-color-secondary);
  }
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 330px; // чтобы было по центру под заголовком
  transform: scale(1.5);
}

.stickyColumn {
  position: sticky;
  left: 0;
  background-color: #f9f9f9;
  font-weight: 500;
  z-index: 1;
  width: 320px;
  word-wrap: break-word;
  white-space: normal;
  text-align: left !important;  
  padding: 6px 10px;
}

.centerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px; // под размер календаря
  text-align: center;
}

/* UpdateScheduleTable.module.scss */
.cell {
  text-align: center;
  padding: 4px;
  transition: var(--transition);
  border: 1px solid #ccc;

  /* Добавляем курсор для кликабельных ячеек */
  cursor: pointer;

  &:empty {
    cursor: default; /* пустые ячейки не кликабельны */
  }
}

.stickyColumn {
  position: sticky;
  left: 0;
  background: #f8f8f8;
  font-weight: bold;
}

.cell:hover {
  background-color: var(--bg-color-tertiary);
}
