.modalOverlay {
  position: fixed;
  top: calc(-50%);
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  /* Анимация появления */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

.modalContent {
  background: var(--bg-color);
  padding: 20px;
  border-radius: 8px;
  min-width: 50%;
  height: 50%;
  position: relative;
  /* Анимация появления */
  transform: translateY(+20px);
  opacity: 0;
  transition: all 0.2s ease;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }
}

.title {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}

.close_btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
