.wrapper {
  width: 100%;
  padding: 35px 40px;
  height: 100%;
}

.inner {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: 100%;
  padding: 30px 20px;
}

.videoWrapper {
  margin-top: 24px;
  display: flex;
  height: 94%;
  width: auto;
  margin: 0 auto;
  justify-content: center;
}