.sidebar {
    margin-top: 15px;
    height: 100vh;
    width: 200px;
    padding: 10px;
    border-right: 1px solid var(--border-color-secondary);
    background-color: var(--bg-color);
    border-top: 1px solid var(--border-color);
    border-radius: 0 var(--border-radius) 0 0;
    position: fixed;
}

.block {
    width: 200px;
    height: 100vh;   
    min-width: 200px;
}

.menu_link {
    display: inline-block;
    width: 100%;
    padding: 12px 10px;
    font-size: 14px;
    color: var(--text-color);
    transition: var(--transition);
    border-bottom: 1px solid var(--border-color-secondary);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.menu_link:hover:not(.active) {
    background-color: var(--bg-color-hover-second);
}

.active {
    background-color: var(--accent-color);
    color: white;
}

.count {
    color: var(--text-color-secondary);
}

.menu_link.active .count {
    color: white;

}