@import url("../../styles/variabales.scss");

.input_box {
  width: 100%;
}

.text {
  color: var(--text-color-secondary);
  margin-bottom: 8px;
  font-size: 14px;
}

.input {
  resize: none;
  border-radius: var(--border-radius);
  width: 100%;
  padding: 12px 18px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background: var(--bg-color-input);
  outline: none;
  border: 1px solid var(--border-color);
  transition: all 0.3s ease;
}

.input:focus {
  border-color: var(--accent-color); /* Цвет обводки */
  box-shadow: 0 0 3px 1px var(--accent-color); /* Легкий светящийся эффект */
}
