.gridCell {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: background-color 0.15s ease;
  font-size: 14px;
}

.hovered {
  background-color: var(--bg-color-hover-second);
}

.first_column {
  color: var(text-color-secondary);
}

.second_column {
  color: var(--accent-color-secondary);

}

.gridCell {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: background-color 0.15s ease;
}

