.gridCell {
  display: flex;
  align-items: center;

  padding: 6px 10px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 14px;

  transition: background-color 0.15s ease;
}

.hovered {
  background-color: var(--bg-color-hover-second);
}

.first_column {
  color: var(--text-color-secondary);
  font-weight: 500;
}

.second_column {
  color: var(--accent-color-secondary);
  font-weight: 500;
}