.gridCell {
  padding: 0 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  min-height: 40px;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
  transition: var(--transition);
  background-color: var(--bg-color);
}
.hovered {
  background-color: var(--bg-color-hover-second);
  cursor: pointer;
}

.first_column {
  color: var(text-color-secondary);
}

.second_column {
  color: var(--accent-color-secondary);

}

.gridCell {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: background-color 0.15s ease;
}

