.expandIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: var(--text-color-secondary);
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
  transition: 0.2s ease;
}

.expandIcon:hover {
  color: var(--accent-color);
}
