@import url('../../styles/variabales.scss');

.popup {
  text-align: center;
  position: fixed;
  top: 20px;
  left: calc(50% - 135px);
  transform: translateX(-50%);
  background-color: var(--false);
  color: white;
  padding: 16px 24px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  width: 270px;
}

.popupMargin {
   left: calc(50% - 20px) !important;
}

.true {
  background-color: var(--true);
}

