.stackContainer {
  position: fixed;
  top: 20px;        
  right: 20px;     
  display: flex;
  flex-direction: column; 
  gap: 10px;
  z-index: 2000;
  pointer-events: none;
  text-align: center;
}

.marginTrue {
  left: calc(50% - 125px);
}


.popup {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 22px;
  min-width: 280px;
  max-width: 500px;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 500;
  color: #fff;

  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  user-select: none;
  cursor: pointer;

  pointer-events: all;
  backdrop-filter: blur(2px);
}

.icon {
  font-size: 20px;
  display: flex;
  align-items: center;
}

/* THEMES */
.success {
  background: linear-gradient(135deg, #2ecc71, #27ae60);
}
.error {
  background: linear-gradient(135deg, #e74c3c, #c0392b);
}
.warning {
  background: linear-gradient(135deg, #f1c40f, #e1b000);
  color: #292929;
}
.info {
  background: linear-gradient(135deg, #3498db, #2980b9);
}
