.selectorWrapper {
  position: relative;
  width: 100%;
}

.selectorHeader {
  color: var(--text-color);
  border: 1.5px solid var(--border-color);
  padding: 0.7em 1em;
  font-size: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-color-input);
  color: var(--text-color);
  appearance: none;  
  transition: var(--transition);
  outline: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%23333' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 14px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: var(--bg-color-primary);
    box-shadow: 0 0 3px 1px var(--accent-color); 
  }

  &:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 3px 1px var(--accent-color); 
    background-color: var(--bg-color-primary);
  }

  &:disabled {
    background-color: var(--bg-color-secondary);
    border-color: var(--border-color-secondary);
    color: var(--text-color-secondary);
    cursor: not-allowed;
  }
}

.title {
    color: var(--text-color-secondary);
    margin-bottom: 8px;
    font-size: 16px;
    text-align: center;
}

.selectorHeader.open {
  border-color: #999;
}

.selectedText {
  color: var(--text-color);
  font-weight: 600;
}

.dropdown {
  position: absolute;
  top: calc(100% + 4px);
  width: 100%;
  border-radius: var(--border-radius);
  border: 1.5px solid var(--border-color);
  background: var(--bg-color);
  border-radius: 6px;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  max-height: 260px;
  overflow-y: auto;
}

.option {
  padding: 8px 12px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  align-items: center;
  transition: var(--transition);
}

.option:hover {
  background: var(--bg-color-hover);
}

.option.active {
  background: var(--accent-color);
}
