.wrapper {
    position: absolute;
    bottom: 80px;
    width: 174px;
    left: calc(50% - 87px);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
}

.list_item {
    width: 100%;
    font-size: 16px;
}

.list_item:not(:last-child) {
    border-bottom: 1px solid var(--border-color);    
}

.menu_link {
    padding: 10px 18px;
    display: inline-block;
    width: 100%;
    transition: var(--transition);
    border-radius: var(--border-radius);
}

.menu_link:hover {
    background-color: var(--accent-color);
     color: white;
}

.exit_link:hover {
    background-color: rgb(248, 70, 70);
    color: white;
}