.input_box {
    margin-bottom: 0; // чтобы не ломать отступы сайдбара
    width: 100%;
}

.input {
    border-radius: var(--border-radius);
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    color: var(--text-color);
    background: var(--bg-color-input);
    outline: none;
    border: 1px solid var(--border-color);
    transition: all 0.3s ease;
    text-align: center;
}

.input:focus {
    border-color: var(--accent-color); 
    box-shadow: 0 0 3px 1px var(--accent-color); 
}