.app_layout {
    width: 100%;
    display: flex;
}

.main {
    width: 100%;
}

.podarok {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 120px;
    width: 120px;
    cursor: pointer;
}