.full_block {
  height: 130px;
  position: static;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9px;
  align-items: stretch;
  height: 130px;
  padding: 15px 38px 0 15px;
  min-width: 0;
  position: relative;
  z-index: 1;
}

.expandedWrapper {
  position: fixed;
  top: calc(50% - 45vh + 20px);
  left: calc(50% - 80vh - 13px);
  transform: translateY(20px); // стартовая позиция для анимации
  width: 80vw;
  height: 90vh;
  z-index: 25;
  padding: 30px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  opacity: 0;
  transition: transform 0.2s ease;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }
}
.expandedWrapper {
  background: var(--bg-color);
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 90vh;
  gap: 20px;

  border-radius: 12px;
  transform: translateY(0); /* стартовая позиция */
  opacity: 0;                  /* стартовая прозрачность */

  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
  z-index: 10000;
  &.show {
    transform: translateY(-20px);
    opacity: 1;
  }
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  z-index: 20;
  opacity: 0;
  transition: opacity 0.2s ease;

  &.show {
    opacity: 1;
  }
}
