.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9px;
  align-items: stretch;
  height: 130px;
  padding: 15px 38px 0 15px;
  min-width: 0;
}

.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 90vh;
  z-index: 25;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  gap: 20px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.2);
  z-index: 15;
  backdrop-filter: blur(1px);
}
