.wrapper {
    background-color: var(--bg-color-secondary);
    height: 100%;
    padding: 18px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
}

.btn_wrap {
    margin-top: auto;
}

.dirtyIndicator {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffcc80;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.z {
    cursor: default;
    color: black;
    height: 13px;
}

.title {
    color: var(--text-color-secondary);
    margin-bottom: 8px;
    text-align: center;
    font-size: 16px;
}


.wrapper {
  width: 100%;
}

.text {
  width: 100%;
  padding: 0.7em 1em;
  font-size: 14px;
  border-radius: var(--border-radius);
  border: 1.5px solid var(--border-color);
  background-color: var(--bg-color-input);
  color: var(--text-color);
  transition: var(--transition);
  outline: none;
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 14px 10px;
  cursor: default;

  &:hover {
    background-color: var(--bg-color-primary);
    box-shadow: 0 0 3px 1px var(--accent-color); 
  }
}