.wrapper {
    background-color: var(--bg-color-secondary);
    height: 100%;
    padding: 20px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
}

.btn_wrap {
    margin-top: auto;
}



.dirtyIndicator {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffcc80;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  text-align: center;
}

.z {
    cursor: default;
    color: black;
    margin-top: 2px;
    height: 100%;
}