.wrapper {
    background-color: var(--bg-color-secondary);
    height: 100%;
    padding: 18px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    position: relative;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.btn_wrap {
    margin-top: auto;
}

.dirtyIndicator {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffe2b6;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.z {
    cursor: default;
    color: rgba(0, 0, 0, 0.685);
    height: 13px;
}

.title {
    color: var(--text-color-secondary);
    margin-bottom: 6px;
    text-align: center;
    font-size: 15px;
}


.wrapper {
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  padding: 0.7em 1em;
  font-size: 14px;
  border-radius: var(--border-radius);
  border: 1.5px solid var(--border-color);
  background-color: var(--bg-color-input);
  color: var(--text-color);
  transition: var(--transition);
  outline: none;
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 14px 10px;
  cursor: default;


}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info {
  z-index: 1000;
  position: absolute;
  left: 4px;
  top: 6px;
}