.wrapper {
  width: 100%;
  height: 100vh; 
  padding: 35px 40px;
  box-sizing: border-box;
}

.inner {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 300px;
  overflow: hidden; // важно, чтобы не вылезало
  position: relative;
}

.left_side {
  padding: 30px 20px;
  max-height: 100%; // ИЗМЕНЕНИЕ
  position: relative;
}

.btn_back {
  position: absolute;
  left: 15px;
  top: 12px;
      z-index: 5;
}

.fixed_block {
  position: absolute;
  bottom: 0;
  left: 40px;
  right: 40px;
}

.text_place {
  overflow: auto;
  padding-right: 10px;
  height: 380px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}