.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(286px, 286px);
  height: 100%;
  gap: 20px; /* если нужен отступ между колонками */
}

.inner {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(286px, 30%);
  overflow: hidden; 
  position: relative;
}

.left_side {
  overflow-wrap: break-word; /* перенос слов при переполнении */
  word-break: break-word;
}


.btn_back {
  position: absolute;
  left: 15px;
  top: 12px;
  z-index: 5;
}

.block {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 105px;
  margin-right: 20px;
}

.fixed_block {
  display: grid;
  grid-template-columns: 1fr 60px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.text_place {
  overflow: auto;
  padding-right: 10px;
  height: 380px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.error {
  font-size: 28px;
  margin-top: 40px;
  text-align: center;
}

.centerWrapper {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.comment_wrap {
  overflow-y: auto;
  max-height: 454px; /* или height: 100% в блоке с ограничением */
  padding: 25px 10px 20px;
}