.wrapper {
  display: grid;
  grid-template-columns: 1fr 286px; /* левая + правая колонка */
  height: calc(100vh - 130px); /* как было у тебя */
  gap: 20px;
  padding: 15px 40px 0px 15px;
}

.left_side {
  display: grid;
  grid-template-rows: 1fr 100px;
  flex-direction: column;
  max-height: 690px;
  overflow: hidden; /* чтобы scroll работал только внутри left_content */
}

.left_content {
  flex: 1 1 auto;
  min-height: 0; /* обязательно для flex + scroll */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.task_wrapper {
  overflow-wrap: break-word;
  word-break: break-word;
}

.comment_wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.com_input {
  flex: 0 0 100px; /* фиксированная высота */
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 15px;
  margin-top: 1px;
  box-sizing: border-box;
  z-index: 10;
}

.com_input .multipleInput {
  flex-grow: 1;
}

.com_input .sendButton {
  flex-shrink: 0;
}

.block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.error {
  font-size: 28px;
  margin-top: 40px;
  text-align: center;
}

.centerWrapper {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn_back {
  position: absolute;
  left: 20px;
  top: 20px;
}
