.wrapper {
  display: grid;
  grid-template-columns: 1fr 240px;
  height: 100%;
}

.inner {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 300px;
  overflow: hidden; 
  position: relative;
}

.btn_back {
  position: absolute;
  left: 15px;
  top: 12px;
  z-index: 5;
}

.fixed_block {
  position: absolute;
  bottom: 0;
  left: 40px;
  right: 290px;
  display: grid;
  grid-template-columns: 1fr 60px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.text_place {
  overflow: auto;
  padding-right: 10px;
  height: 380px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.error {
  font-size: 28px;
  margin-top: 40px;
  text-align: center;
}

.centerWrapper {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}