:root {
  --border-radius: 8px;
  --accent-color: hsl(203, 65%, 55%);
  --accent-color-secondary: hsl(202, 72%, 50%);
  --false: hsl(0, 71%, 57%);
  --true: hsl(145, 63%, 40%); 
  --transition: all 0.2s ease;
  // Light theme
  --bg-color: #ffffff; 
  --bg-color-secondary: #f4f6f8;
  --bg-color-hover: #f6f9fd; 
  --bg-color-hover-second: #edeef0;
  --bg-color-tertiary: #f5f5f5;
  --bg-color-input: #fdfdfd;
  --bg-color-primary: #f9fafb;

  --text-color: #1e1e1e; 
  --text-color-secondary: #5a5f66;
  --border-color: #d8dce1;
  --border-color-secondary: #c3c8cf;
}

[data-theme='dark'] {
  // Dark theme
  --bg-color: rgb(56, 57, 62);
  --bg-color-secondary: hsl(228, 4%, 25%);
  --bg-color-tertiary: #2a2b2e;
  --bg-color-hover: rgb(24, 25, 26);
  --bg-color-hover-second: rgb(45, 46, 49);
  --bg-color-input: #2a2b2e;
  --bg-color-primary: hsl(230, 5%, 22%);
  --text-color: #e0e0e0;
  --text-color-secondary: hsl(198, 5%, 73%);
  --border-color: hsla(0, 0%, 0%, 0.17);
  --border-color-secondary: rgb(49, 49, 49);
}