.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 0 15px auto;
  gap: 10px;
  max-width: 100%;
}

.wrapper:last-child {
  margin-bottom: 0;
}

.block {
  background: var(--bg-color-tertiary);
  border-radius: var(--border-radius);
  padding: 12px 16px 22px;
  position: relative;
  display: inline-block;
  min-width: 300px; 
  max-width: 80%; 
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.sender {
  color: var(--accent-color);
  margin-bottom: 6px;
  font-weight: 500;
}

.text {
  color: var(--color-primary);
  white-space: pre-wrap;
  line-height: 1.4;
}

.date {
  color: var(--color-secondary);
  opacity: 0.6;
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 11px;
}

.min {
  color: var(--color-secondary);
  opacity: 0.6;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 11px;
}

.ava {
  width: 38px;
  height: 38px;
  background-color: var(--bg-color-tertiary);
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
}
