.wrapper {
  display: flex;
  align-items: center;
  margin: 0 0 15px auto;
  gap: 10px;
  max-width: 100%;
  padding-right: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}

.block {
  background: var(--bg-color-tertiary);
  border-radius: var(--border-radius);
  padding: 6px 10px 18px;
  position: relative;
  display: inline-block;
  min-width: 200px;
  max-width: 80%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.sender {
  color: var(--accent-color);
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 15px;
}

.text {
  color: var(--color-primary);
  white-space: pre-wrap;
  line-height: 1.4;
  font-size: 14px;
}

.date {
  color: var(--color-secondary);
  opacity: 0.6;
  position: absolute;
  bottom: 5px;
  font-size: 11px;
}

.min {
  color: var(--color-secondary);
  opacity: 0.6;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 11px;
}

.ava {
  width: 42px;
  height: 42px;
  background-color: var(--bg-color-tertiary);
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.my_message {
  justify-content: flex-end;
  text-align: right;

  .block {
    background: var(--bg-color-tertiary);
  }

  .date {
    right: 10px;
    left: auto;
  }
}

.other_message {
  justify-content: flex-start;
  text-align: left;

  .block {
    background: var(--bg-color-tertiary);
  }

  .date {
    opacity: 0.3;
    right: 10px;
  }
}
