.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%; /* растягиваем по ширине родителя */
}

.block {
  background: var(--bg-color-tertiary);
  border-radius: var(--border-radius);
  padding: 6px 10px 18px;
  position: relative;
  display: block; /* было inline-block, теперь block */
  min-width: 120px;
  max-width: 100%; /* чтобы не вылазило за родителя */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.sender {
  color: var(--accent-color);
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 15px;
}

.text {
  color: var(--color-primary);
  white-space: pre-wrap;
  line-height: 1.4;
  font-size: 14px;
}

.date, .min {
  color: var(--color-secondary);
  font-size: 11px;
  opacity: 0.6;
  position: absolute;
}

.date {
  bottom: 5px;
  right: 10px;
}

.min {
  top: 5px;
  right: 10px;
}

.ava {
  width: 42px;
  height: 42px;
  background-color: var(--bg-color-tertiary);
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

/* Сообщение пользователя */
.my_message {
  justify-content: flex-end;
  text-align: right;

  .date {
    left: auto;
    right: 10px;
  }
}

/* Сообщение других */
.other_message {
  justify-content: flex-start;
  text-align: left;

  .date {
    opacity: 0.3;
    right: 10px;
  }
}
