.headerBox {
  height: 120px;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  padding: 12px 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  min-width: 0;
}

.headerInner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sectionHeader {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: var(--text-color-secondary);
  text-transform: uppercase;
}

.taskTitleCenter {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--text-color);
  margin-top: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bottomRow {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.controls {
  display: flex;
  gap: 8px;
}

.btn {
  width: 110px;
  background: var(--accent-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 8px 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease-in;
}

.btn:hover {
  background: var(--accent-color-secondary);
}

.btnEnd {
  width: 110px;
  background: var(--false);
  color: white;
  border: none;
  padding: 8px 8px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background 0.2s ease-in;
}

.btnEnd:hover {
  background: hsl(0, 71%, 45%);
}

.timerBig {
  font-family: monospace;
  font-size: 22px;
  font-weight: 700;
  color: var(--text-color);
}
