.block {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: black; // Можно слегка затемнить фон
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none; // Чтобы не блокировал клики

  img {
  width: 100%;
  height: 100%;
  }
}

.block.visible {
  opacity: 1;
}

