@import url('../../styles/variabales.scss');

.wrapper {
  width: 100%;
}

.select {
  width: 100%;
  padding: 0.7em 1em;
  font-size: 1rem;
  border-radius: var(--border-radius);
  border: 1.5px solid var(--border-color);
  background-color: var(--bg-color-input);
  color: var(--text-color);
  appearance: none;  // чтобы убрать дефолтный стрелочный стиль браузера
  cursor: pointer;
  transition: var(--transition);
  outline: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%23333' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 14px 10px;

  &:hover {
    background-color: var(--bg-color-primary);
    box-shadow: 0 0 3px 1px var(--accent-color); 
  }

  &:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 3px 1px var(--accent-color); 
    background-color: var(--bg-color-primary);
  }

  &:disabled {
    background-color: var(--bg-color-secondary);
    border-color: var(--border-color-secondary);
    color: var(--text-color-secondary);
    cursor: not-allowed;
  }
}

.title {
    color: var(--text-color-secondary);
    margin-bottom: 8px;
    font-size: 14px;
}

.titleCenter {
  text-align: center;
  font-size: 16px;
}

.smallFont {
  font-size: 14px;
}