.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.error_container {
  text-align: center;
  background-color: var(--bg-color-tertiary);
  padding: 40px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 5rem;
  color: var(--accent-color);
}

.text {
  font-size: 1.3rem;
  color: var(--text-color);
  margin-bottom: 30px;
}

.link {
  text-decoration: none;
  background-color: var(--accent-color);
  color: var(--text-olor);
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.videoWrapper {
  margin-top: 24px;
  display: flex;
  height: 94%;
  width: auto;
  margin: 0 auto;
  justify-content: center;
}