.task_title_wrapper {
  max-width: 950px;
  text-align: center;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 25px;
}

.task_title {
  width: 100%;
  max-width: 950px;
  color: var(--text-color);
  font-size: 22px;
  border: none;
  resize: none;
  overflow: hidden;
  text-align: center;
  margin-bottom: 3px;
}

.date_text {
    text-align: center;
    font-size: 14px;
    opacity: 0.6;
    color: var(--text-color-secondary);
}

.task_text {
  margin-top: 14px;
  width: 90%;
  font-size: 18px;
  margin: 5px auto 0;
  background: var(--bg-color-secondary);
  border-radius: var(--border-radius);
  padding: 20px;
}