.wrapper {
  width: 100%;
  padding: 35px 40px;
  height: 100%;
}

.inner {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: 100%;
  padding: 30px 20px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}

.parameters_block {
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: var(--bg-color-secondary);
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.parameters_block:not(:first-child) {
    margin-top: 40px;
}

.parameters_item {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.parameters_title {
    margin-bottom: 15px;
    font-size: 20px;
}

.img_block {
    width: 180px;
    height: 180px;
    margin-right: 40px;
}

.img_block img {
    width: 100%;
    height: 100%;
}