.document_wrapper {
    max-width: 100%;
    position: relative;
    margin-top: 20px;
}

.img {
    position: absolute;
    height: 26px;
    width: 26px;
    top: calc(50% - 13px);
}

.link {
    display: block;
    padding-left: 30px;
    font-size: 20px;
    transition: var(--transition);

    &:hover {
        color: var(--accent-color);
    }
}