.wrapper {
  width: 60%;
  padding: 35px 40px;
  margin: 0 auto;
  height: calc(100vh - 120px); /* 100vh минус высота таймера */
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column; /* делаем flex-контейнер для внутреннего блока */
}

.inner {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 30px 30px;
  position: relative;

  flex: 1;       
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  opacity: 0.8;
  transform: translateY(5px);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.inner.show {
  opacity: 1;
  transform: translateY(0);
}

.profile_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_block {
  text-align: center;
  width: 160px;
  height: 160px;
  margin-bottom: 12px;
}

.img {
  user-select: none;
  border-radius: 50%;
  border: 2px solid var(--border-color);
  width: 100%;
  height: 100%;
}

.text_block {
  width: 90%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}

.username {
  font-size: 24px;
  font-weight: 500;
  color: var(--color);
  margin-bottom: 0px;
}

.iqcompany {
  font-size: 14px;
  color: var(--accent-color);
}

.role {
  margin-bottom: 5px;
}

.logo_opacity {
  position: absolute;
  right: 50px;
  top: 50px;
  height: 50px;
  cursor: pointer;
}

.second_title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 14px;
  font-weight: 500;
}

.tasks_table_wrapper {
  flex: 1;       
  min-height: 0;  
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.loading_wrap {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
