.wrapper {
  width: 100%;
  padding: 35px 40px;
  height: calc(100vh - 120px); /* 100vh минус высота таймера */
  box-sizing: border-box;
}

.inner {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: 100%;
  padding: 30px 20px;
}
