.modalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

.modalContent {
  background: var(--bg-color);
  border-radius: 8px;
  width: 80vw;
  height: 90vh;
  position: relative;
  transform: translateY(+20px);
  opacity: 0;
  transition: all 0.2s ease;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }

  &.paddingModalContent {
    padding: 20px;
  }
}

.close_btn {
  position: absolute;
  top: 5px;
  right: 5px;
}
