.wrapper {
  width: 100%;
  padding: 35px 40px;
  overflow-x: auto;
  height: 100%;
}

.inner {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: 100%;
  padding: 30px 20px;
  position: relative;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.filling_data_inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 20px;
}

.button_wrap {
  position: absolute;
  width: 240px;
  bottom: 30px;
  right: 20px;
}

.return_button {
  text-decoration: underline;
  position: absolute;
  color: var(--text-color-secondary);
  left: 20px;
  bottom: 30px;
}