.wrapper {
  width: 100%;
  padding: 35px 40px;
  overflow-x: auto;
  height: calc(100vh - 120px); /* 100vh минус высота таймера */
}

.inner {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: 100%;
  padding: 30px 20px;
  position: relative;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.filling_data_inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.filling_data_inner_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.disable {
  display: block;
}

.button_wrap {
  position: absolute;
  width: 240px;
  bottom: 30px;
  right: 20px;
}

.return_button {
  text-decoration: underline;
  position: absolute;
  color: var(--text-color-secondary);
  left: 20px;
  bottom: 30px;
}

.return_task {
  width: 100%;
  height: 62px;
  background-color: var(--bg-color-secondary);
  padding: 10px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    width: 220px;
}