@import url("../../styles/variabales.scss");

.wrapper {
  width: 100%;
  padding: 30px 40px;
  overflow-x: auto;
  height: 100%;
}

.inner {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: 100%;
  padding: 30px 20px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
