.button {
    background-color: var(--accent-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-right: 3px;
    padding-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    transition: var(--transition);
}

.button:hover {
    
    background-color: var(--accent-color-secondary);
}