.gridTableWrapper {
  width: 100%;
  height: 100%;
}

.gridHeaderRow {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 50px;
  position: sticky;
  top: 0;
  z-index: 5;
  background: var(--bg-color-tertiary);
  border-bottom: 1px solid var(--border-color);
}

.gridBody {
  display: grid;
  grid-auto-rows: 50px;
  width: 100%;
  min-width: 600px;
  height: 87%;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--bg-color);
}

.gridHeader {
  font-size: 16px;
  padding: 0 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  min-height: 40px;
  position: relative;
}

.headerCell {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 auto;
  min-width: 0;
}

.resizer {
  position: absolute;
  top: calc(50% - 15px);
  bottom: 0;
  right: -5px;
  width: 10px;
  height: 30px;
  cursor: col-resize;
  z-index: 10;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resizer::after {
  content: '';
  display: block;
  width: 1px;
  height: 60%;
  background-color: var(--border-color);
  border-radius: 1px;
}

.headerCell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .sortArrow {
    font-size: 12px;
    margin-left: 4px;
    margin-right: 8px;
  }
}
