@import url('../../styles/variabales.scss');

.sidebar {
  height: 100vh;
  width: 250px;
  border-right: 1px solid var(--border-color-secondary);
  background-color: var(--bg-color);
  position: absolute;
  top: 0;
  right: -250px; // скрыт
  transition: right 0.3s ease; // плавное появление
  padding: 40px 30px;
  z-index: 100;
}

.show_filter {
    right: 0;
}

.title {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}