.modalOverlay {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.35);
    animation: warningPulse 5s infinite ease-in-out;
}

.modalWindow {
    margin-top: 200px;
    text-align: center;
    width: 800px;
    height: 400px;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: red;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    z-index: 999999;
    /* МЯГКОЕ ПОЯВЛЕНИЕ */
    animation: popupFadeIn 0.4s ease forwards;
}

.idleWarning {
    font-size: 24px;
    margin-bottom: 14px;
}

.idleWarningText {
    font-size: 18px;
    color: red;
}

.btn {
    margin-top: auto;
    padding: 20px 40px;
    background-color: var(--accent-color);
    font-size: 20px;
    border-radius: var(--border-radius);
    color: white;
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--accent-color-secondary);
}


@keyframes warningPulse {
    0%   { background-color: rgba(0, 0, 0, 0.6); }
    50%  { background-color: rgba(87, 0, 0, 0.45); }
    100% { background-color: rgba(0, 0, 0, 0.6); }
}

@keyframes popupFadeIn {
    0% {
        transform: scale(0.9);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}