.inner {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.img_wrap {
    text-align: center;
}

.img {
    width: 140px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.form {
    margin-top: 40px;
    padding: 30px 30px 30px;
    background-color: var(--bg-color-secondary);
    height: 430px;
    width: 450px;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.1);
}

.button_wrap {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}