.calendar {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.monthTitle {
  text-align: center;
  font-size: 20px;
  color: var(--text-color-secondary);
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: capitalize;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.daysRow {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  background-color: var(--bg-color-tertiary);
  font-weight: bold;
  padding: 6px 0;
  
  border-bottom: 1px solid var(--border-color);
}

.dayName {
  padding: 5px 0;
}

.body {
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.cell:last-child {
  border-right: 1px solid var(--border-color);
}

.cell {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 16px 8px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: var(--bg-color-tertiary);
  position: relative;
}

.disabled {
  background-color: var(--bg-color);
  color: var(--text-color-secondary);
}

.dataStub {
  font-size: 18px;
  text-align: center;
}

.refreshBtn {
  margin-left: auto;
  position: relative;
  top: -3px;
}

.active_duty {
  border-bottom: 2px solid var(--accent-color);
  padding: 0 7px 5px;
  border-radius: 4px;
}

.dateNum {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 14px;
  text-align: right;
}

.controls {
  display: flex;
  gap: 12px;
  align-items: start;
  justify-content: left;
  margin-bottom: 14px;
}

.select {
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background: var(--bg-color-tertiary);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.2s ease;
  appearance: none; /* убираем дефолтную стрелку */
  outline: none;
  text-transform: capitalize;
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px; // чтобы было по центру под заголовком
  transform: scale(1.5);
}

.centerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px; // под размер календаря
  text-align: center;
}

.errorText {
  font-size: 20px;
  font-weight: 500;
}

.closen_day::after {
  content: '';
}

.controls {
  display: flex;
  align-items: center;
}

.today {
    border-bottom: 2px solid var(--true);
    padding: 0 7px 5px;
    border-radius: 4px;
}

@media (max-width: 1650px) { 
  .dataStub {
    font-size: 14px;
  }

  .cell {
    padding: 14px 6px;
    min-height: 70px;
  }
}

@media (max-width: 1360px) { 
  .dataStub {
    font-size: 12px;
  }
  .cell {
    padding: 12px 4px;
    min-height: 70px;
  }
}