.calendar {
  width: 100%;
  margin: 0 auto;
}

.monthTitle {
  font-size: 20px;
  color: var(--text-color-secondary);
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: capitalize;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.daysRow {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  background-color: var(--bg-color-tertiary);
  font-weight: bold;
  padding: 6px 0;
}

.dayName {
  padding: 5px 0;
}

.body {
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.cell {
  border: 1px solid var(--border-color);
  padding: 8px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  background-color: var(--bg-color-tertiary);
}

.disabled {
  background-color: var(--bg-color);
  color: var(--text-color-secondary);
}

.dataStub {
  font-size: 16px;
  margin-top: 4px;
}

.dateNum {
  font-size: 18px;
}

.controls {
  display: flex;
  gap: 12px;
  justify-content: left;
  margin-bottom: 20px;
}

.select {
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background: var(--bg-color-tertiary);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.2s ease;
  appearance: none; /* убираем дефолтную стрелку */
  outline: none;
  text-transform: capitalize;
}
