.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error_container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 5rem;
  color: var(--accent-color);
}

.text {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  background-color: var(--accent-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
