.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
    font-size: 16px;
}

.notice {
    font-size: 13px;
    line-height: 1.2;   
    position: absolute;
    bottom: -6px;
    text-align: center;
    width: 240px;
    left: 1340px;
}