.wrapper {
  padding: 15px 40px 15px 15px;
  height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
}

.inner {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 30px 20px;
  flex: 1; /* растягиваем на всю высоту */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* скролл будет внутри дочерних блоков */
  animation: fadeIn 0.4s ease-out;
}

.inner {
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.inner.show {
  opacity: 1;
}
