.wrapper {
  width: 100%;
  padding: 20px 40px 20px 20px;
  height: calc(100vh - 140px); //Отнимаем высоту таймера
}

.inner {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: 100%;
  padding: 30px 20px;
  margin-bottom: 20px;
  position: relative;
  animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.inner {
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.inner.show {
  opacity: 1;
  transform: translateY(0);
}