
.gridCell {
  padding: 0 7px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  min-height: 42px;
  font-size: 14px;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  transition: var(--transition);
}

.hovered {
  background-color: var(--bg-color-hover-second);
  cursor: pointer;
}

.left {
  justify-content: left;
}

