.wrapper {
    margin: 35px 40px;
    width: 100%;
    overflow: hidden;
}

.filter_btn {
    color: var(--text-color);
    background-color: var(--bg-color-tertiary);
    border-bottom: 1px solid var(--border-color);
    padding: 5px 20px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    font-size: 16px;
}
