.wrapper {
    margin: 16px 35px 35px 20px;
    height: calc(90vh - 120px);
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(1px);
}

.modalContent {
  width: 80%;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
