.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  z-index: 9999;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

.modalContent {
  margin-top: 146px;
  background: var(--bg-color);
  padding: 15px;
  border-radius: 8px;
  min-width: 600px;
  height: 500px;
  position: relative;
  transform: translateY(+20px);
  opacity: 0;
  transition: all 0.2s ease;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }
}

.inner {
  height: 85%;
  padding: 10px 10px 0;
  overflow-y: auto;
}

.title {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.close_btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.updateItem {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 10px;
}

.updateItem:last-child {
  margin-bottom: 0;    /* если нужно убрать отступ */
}


.text {
    line-height: 1.3;
    display: flex;
    gap: 10px;
}

.text_item2 {
    color: var(--text-color-secondary);
}