.wrapper {
  width: 100%;
  padding: 35px 40px;
  height: 100%;
}

.inner {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: 100%;
  padding: 30px 20px;
}

.toggleWrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.toggleButton {
  padding: 8px 16px;
  min-width: 160px;
  border-radius: 0 var(--border-radius) 0 4px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  background-color: var(--bg-color-secondary);
  color: var(--text-color);
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    background-color: var(--accent-color);
    color: white;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeholder {
  padding: 50px 0;
  text-align: center;
  color: #666;
  font-size: 16px;
}
