.block {
  padding: 10px;
  border-radius: var(--border-radius);
  width: 100%;
  background-color: var(--bg-color);
}

.title {
  text-align: center;
  margin-bottom: 14px;
  font-size: 18px;
  border-bottom: 1px solid var(--accent-color);
  padding-bottom: 6px;
}

.no {
  text-align: center;
}

.text {
  display: flex;
}

.text span {
  margin-bottom: 8px;
  display: block;
  width: 100px;
}