.block {
  width: 100%;
}

.title {
  text-align: center;
  font-size: 18px;
  color: var(--text-color-secondary);
  margin-bottom: 8px;
  text-align: center;
  font-size: 16px;
}

.no {
  text-align: center;
}

.text_block {
  background-color: var(--bg-color);
    width: 100%;
  padding: 0.7em 1em;
  font-size: 1rem;
  border-radius: var(--border-radius);
  border: 1.5px solid var(--border-color);
  background-color: var(--bg-color-input);
  color: var(--text-color);
  transition: var(--transition);
  outline: none;
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 14px 10px;
  cursor: default;

  &:hover {
    background-color: var(--bg-color-primary);
    box-shadow: 0 0 3px 1px var(--accent-color); 
  }
}

.text {
  display: flex;
}

.text span {
  margin-bottom: 8px;
  display: block;
  width: 100px;
}
