.block {
  padding: 10px;
  border-radius: var(--border-radius);
  width: 100%;
  background-color: var(--bg-color);
}

.title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.no {
  text-align: center;
}
