@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url("./styles/reset.scss");
@import url("./styles/variabales.scss");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+80s+Fade&family=Rubik+Puddles&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  background-color: var(--bg-color-primary);
  color: var(--text-color);
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--bg-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 5px;
    padding: 5px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
}

.sidebar-icon {
  transform: scale(0.95);
}

@media (max-width: 1200px) {
  body::after {
    content: "Слишком маленький экран, сори";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(270deg, #ff5f6d, #ffc371, #24c6dc, #514a9d);
    background-size: 800% 800%;
    color: white;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 999999;
    padding: 20px;
    box-sizing: border-box;
    animation: gradientAnimation 15s ease infinite;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }

  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}
