.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInSlide 0.2s forwards;
  margin-top: 20px;
}

@keyframes fadeInSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
