.listBox {
  border: 1px solid var(--border-color);
  background: var(--bg-color);
  border-radius: var(--border-radius);
  padding: 8px;
  height: 120px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.expanded {
    height: auto;
    height: 100%;
    overflow-y: auto;
    padding: 16px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  }
}

.listInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color-secondary);
}

.items {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-right: 3px;

  .expanded & {
    gap: 10px;
    padding-right: 8px;
  }
}

.taskItem {
  display: grid;
  grid-template-columns: 40px 1fr 70px;
  padding: 9px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: var(--text-color);
  background: var(--bg-color);

  &:hover {
    background: var(--bg-color-hover);
  }

  .expanded & {
    grid-template-columns: 60px 1fr 200px 90px;
    padding: 14px 18px;
    border-radius: 10px;
    background: var(--bg-color);
    border: 1px solid var(--border-color-secondary);
    font-size: 15px;

    &:hover {
      background: var(--bg-color-hover);
    }
  }
}

.taskId {
  font-weight: 600;
  opacity: 0.8;

  .expanded & {
    font-size: 16px;
  }
}

.taskTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .expanded & {
    font-size: 17px;
    font-weight: 600;
  }
}

.taskClient {
  display: none;

  .expanded & {
    display: block;
    color: var(--text-color-secondary);
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.taskTime {
  text-align: right;
  font-weight: 500;
  color: var(--text-color);

  .expanded & {
    font-size: 17px;
  }
}

.selected {
  background: var(--accent-color-secondary) !important;
  color: white !important;

  .taskTime,
  .taskClient {
    color: white !important;
  }

  .expanded & {
    background: var(--accent-color) !important;
    color: white !important;
    border: none;
  }
}
