.centerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px; // под размер календаря
  text-align: center;
  position: relative;
}

.header {
  position: relative;
}

.refreshBtn {
  position: absolute;
  right: 10px;
  top: 0;
}