@import url('../../styles/variabales.scss');

.gridTableWrapper {
  width: 100%;
  padding: 30px 40px;
  overflow-x: auto;
}

.gridTable {
  display: grid;
  grid-auto-rows: 50px;
  width: 100%;
  min-width: 600px;
  height: 100%;
}

.gridHeader {
  font-size: 16px;
}


.gridHeader{
  font-size: 16px;
  padding: 0 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  min-height: 40px;
  background: var(--bg-color-tertiary);
}

.headerCell {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.resizer {
  position: absolute;
  top: calc(50% - 15px);
  bottom: 0;
  right: -5px;
  width: 10px;
  height: 30px; 
  cursor: col-resize;
  z-index: 10;
  background-color: transparent;
  // Для удобства
  display: flex;
  align-items: center;
  justify-content: center;
}

.resizer::after {
  content: '';
  display: block;
  width: 2px;
  height: 60%;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  border-radius: 1px;
}